@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat Alternates", sans-serif;
}

nav,
#social {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: fit-content;
    position: fixed;
}

#menu {
    position: fixed;
}

aside {
    z-index: 100;
}

.menu-item {
    margin: 15px;
}

.menu-item:hover {
    animation-name: shake;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#social {
    right: 0;
    bottom: 0;
    height: fit-content;
}

.social-item {
    margin: 10px;
}

#header {
    height: 100vh;
    display: flex;
}

.header-left,
.header-right {
    width: 50%;
    height: 100%;
    display: flex;
}

.header-left {
    flex-wrap: wrap;
}

.header-right {
    flex-direction: column;
    justify-content: space-between;
}

.header-title {
    font-size: 200px;
    font-weight: 300;
    text-align: right;
}

.header-title span {
    font-weight: 700;
}

.header-branches {
    display: flex;
    flex-wrap: wrap;
}

.branch-item {
    width: 40%;
    font-weight: 700;
    text-align: center;
    background-color: #f0f0f0;
    margin: 10px 20px;
    font-size: 20px;
    border-radius: 50px;
    padding: 10px 0;
    flex-grow: 1;
}

.logo-part {
    height: 50%;
    width: 50%;
}

.dark-blue {
    background-color: #23536d;
}

.red {
    background-color: #ff6969;
}

.yellow {
    background-color: #ffe49d;
}

.blue {
    background-color: #67c5e2;
    border-radius: 0 0 50% 0;
}

section {
    padding-left: 80px;
    z-index: 1;
}

#about {
    width: 100%;
    height: 100vh;
    position: relative;
}

.about-bg {
    background-color: #ff6969;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.bg-text {
    padding-left: 80px;
    font-size: 150px;
    font-weight: 700;
    opacity: 0.2;
}

.about-title {
    color: white;
    font-size: 50px;
}

.about-content {
    width: 100%;
    height: 100%;
    display: flex;

}

.about-content-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-content-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about-rect {
    box-shadow: 10px 10px 0 #1d1d1d;
    border-radius: 0 20px;
}

.rect1 {
    width: 217px;
    height: 222px;
    background-color: #547bc7;
    align-self: flex-end;
}

.rect2 {
    width: 174px;
    height: 166px;
    background-color: #3993ba;
}

.rect3 {
    width: 269px;
    height: 174px;
    background-color: #e36fc3;
    align-self: flex-start;
}

.about-text {
    color: white;
    font-size: 30px;
}

#advantages {
    width: 100%;
    height: 100vh;
    position: relative;
}

.advantages-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #ffe49d;
}

.advantages-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}

.advantages-title {
    font-size: 50px;
    width: 40%;
}

.advantages-text {
    font-size: 50px;
    width: 40%;
}

.advantages-img {
    width: 40%;
    flex-grow: 1;
}

#photography {
    display: flex;
    width: 100%;
    height: 100vh;
}

.photo-left {
    flex-grow: 1;
    background-image: url(img/pictures/4th-section-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-basis: 500px;
}

.photo-right {
    position: relative;
    overflow: hidden;
    flex-grow: 2;
    flex-basis: 500px;
}

.photo-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #23536d;
    z-index: -1;
}

.photo-title {
    font-size: 50px;
    text-align: right;
    color: white;
}

.photo-text {
    font-size: 30px;
    text-align: right;
    color: white;
}

.bg-img {
    background-image: url(img/pictures/4th-section-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 30%;
    background-size: cover;
}

.gallery-title {
    color: white;
    background-color: #ff6969;
    text-align: end;
    padding: 100px 0;
    font-size: 50px;
}

.gallery-content {
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    width: 50%;
    flex-grow: 1;
    flex-basis: 300px;
    opacity: 0.5;
    transition: 0.8s;
}

.gallery-item:hover {
    opacity: 1;
}

.item1 {
    order:7;
}

.item2 {
    order:6;
}

.item3 {
    order:4;
}

.item4 {
    order:5;
}

.item5 {
    order:3;
}

.item6 {
    order:1;
}

.item7 {
    order:2;
}

@media(max-width:1300px) {
    .header-title {
        font-size: 130px;
    }

    .bg-text {
        font-size: 70px;
    }

    #header {
        flex-direction: column;
    }

    .header-left,
    .header-right {
        width: 100%;
    }

    nav {
        width: 100%;
        height: 90px;
        flex-direction: row;
    }

    section {
        padding-left: 0px;
    }

    .about-content {
        flex-direction: column;
        justify-content: space-around;
    }

    .about-content-right {
        flex-direction: row;
        width: 100%;
    }

    .advantages-content {
        flex-direction: column;
    }

    .advantages-title,
    .advantages-text,
    .advantages-img {
        width: 100%;
    }

    .advantages-img {
        flex-grow: 0;
    }

    #photography {
        flex-direction: column;
    }

    .bg-img {
        height: 50%;
    }

}


@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    35% {
        transform: rotate(10deg);
    }

    70% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}